<div class="container">
    <div class="row" style="background-color: #212121;">
        <div class="col-sm-3">
            {{> memberSidebar}}
        </div>
        <div class="col-sm-9 user-container" style="background-color: #242424">
            {{!-- <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
                <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
                    <div class="nav-responsive">
                        <ul class="nav  main-navigation collapse in">
                            <li><a href="#">Thông tin tài khoản</a></li>
                            <li><a href="#">Đang theo dõi</a></li>
                            <li><a href="#">Truyện đã đăng</a></li>
                        </ul>
                    </div>
                </div>
            </div> --}}
            <div class="col-sm-8 col-lg-9 mtb_20">
                <!-- contact  -->
                <div class="row">
                    <div class="panel-login">
                        <div class="row d-flex justify-content-center">
                            <h2>Thông tin tài khoản</h2>
                        </div>
                        <div class="row" id="penel-show" style="margin-left: 20px;">
                            <div class="col-sm-8">
                                <div class="mb_20"><b>Tên người dùng: </b><span>{{user.fullName}}</span></div>
                                <div class="mb_20"><b>Email: </b><span>{{user.email}}</span></div>
                                <button class="btn btn-default" id="toggle">Cập nhật</button>
                            </div>
                            <div class="col-sm-4">
                                {{#ifUnd user.avatar}}
                                <div>Bạn chưa có hình đại diện</div>
                                {{else}}
                                <img src="{{user.avatar}}" alt="avatar">
                                {{/ifUnd}}
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center" id="penel-update"
                            style="display: none !important;">
                            <div class="col-10">
                                <form id="" action="/members/profile" method="post">
                                    <div class="row">
                                        <div class="form-group">
                                            <span> Ảnh đại diện</span>
                                            <input type="text" name="avatar" tabindex="2" class="form-control"
                                                placeholder="avatar" value="{{user.avatar}}">
                                        </div>
                                        <div class="form-group">
                                            <span> Tên người dùng</span>
                                            <input type="text" name="fullName" id="fullName" tabindex="2"
                                                class="form-control" placeholder="Full Name" value="{{user.fullName}}">
                                        </div>
                                        {{!-- <div class="form-group">
                                            <span>Email</span>
                                            <input type="text" name="email" id="email" tabindex="2"
                                                class="form-control" placeholder="email" value="{{user.email}}" disabled>
                                        </div> --}}
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" name="login_submit" id="login-submit"
                                                        tabindex="4" class="form-control btn btn-login"
                                                        value="Cập nhật tài khoản">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            document.getElementById("toggle").onclick = function () {
                var style = document.getElementById("penel-update").style.display;
                if (String(style) == "none") {
                    document.getElementById("penel-update").style.display= "";
                }
                else {
                    document.getElementById("penel-update").setAttribute("style", "display: none !important");
                }

            }

        }

    </script>
</div>