<!-- =====  CONTAINER START  ===== -->
<div class="container">
  <!-- =====  BANNER STRAT  ===== -->
  {{!-- <div class="row banner">
    <div class="main-banner owl-carousel">
      <div class="item"><a href="#"><img src="https://i.imgur.com/MSZ6Doa.png" alt="Main Banner" class="img-responsive img-banner" /></a>
      </div>
      <div class="item"><a href="#"><img src="https://www.anr.anicastudios.com/wp-content/uploads/2017/03/NarutoBanner-695x261.jpg" alt="Main Banner" class="img-responsive img-banner" /></a>
      </div>
      <div class="item"><a href="#"><img src="https://i0.wp.com/www.dragonball.co/wp-content/uploads/2017/04/dragon-ball-z-extreme-butoden-banner.jpg?fit=1920%2C700" alt="Main Banner" class="img-responsive img-banner" /></a>
      </div>
    </div>
  </div> --}}
  <!-- =====  BANNER END  ===== -->
  </ul>
  <div class="row" style="background-color: #2f2e2e">
    <div class="col-sm-12 mt_30">
      <div class="category-page-wrapper mb_30 row">
        <div class="col-sm-6 sort-wrapper">
          <label class="control-label">Tìm được: {{series.length}} truyện có từ "{{query}}"</label>
        </div>
        {{!-- <div class="sort-wrapper pull-right">
          <label class="control-label" for="input-sort">Sort By :</label>
          <div class="sort-inner">
            <select id="input-sort" class="form-control">
              <option value="ASC" selected="selected">Default</option>
              <option value="ASC">Name (A - Z)</option>
              <option value="DESC">Name (Z - A)</option>
              <option value="ASC">Price (Low &gt; High)</option>
              <option value="DESC">Price (High &gt; Low)</option>
              <option value="DESC">Rating (Highest)</option>
              <option value="ASC">Rating (Lowest)</option>
              <option value="ASC">Model (A - Z)</option>
              <option value="DESC">Model (Z - A)</option>
            </select>
          </div>
          <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
        </div> --}}
      </div>
      <div class="row">
        {{#each series}}
          <div class="product-layout product-grid col-md-3 col-xs-6 ">
            <div class="item">
              <div class="clearfix mb_30">
                <div class="image product-imageblock"> 
                  <a href="/series/{{this.id}}" > 
                    <img data-name="product_image" src={{{this.thumbnail}}} alt="iPod Classic" title="iPod Classic" class="img-thumbnail-series series-img" /> 
                  </a>
                </div>
                <div class="caption product-detail text-center">
                  <h4 data-name="product_name" class="product-name mt_20"><a href="series/{{this.id}}" title="Casual Shirt With Ruffle Hem">{{this.name}}</a></h4>
                  <div class="rating">
                    {{#times this.rate}}
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span> 
                    {{/times}}
                    {{#times2 10 this.rate}}
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-x"></i></span> 
                    {{/times2}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
      {{!-- <div class="pagination-nav text-center mt_50">
        <ul>
            {{#when page 'gt' 1}}
              <li><a href="/?page=1"></i>&lt&lt</a></li>
              <li><a href="/?page={{prepage}}"><i class="fa fa-angle-left"></i></a></li>
            {{/when}}
            {{#each listpage}}
<!--               <span>{{this}} </span>
              <span> - </span>
              <span>{{../page}} </span> -->
              {{#when ../page 'eq' this}}
                <li class="active"><a href="/?page={{this}}">{{this}}</a></li>
              {{/when}}
              {{#when ../page 'noteq' this}}
                <li><a href="/?page={{this}}">{{this}}</a></li>
              {{/when}}
            {{/each}}
            {{#when total 'gteq' nextpage}}
              <li><a href="/?page={{nextpage}}"><i class="fa fa-angle-right"></i></a></li>
              <li><a href="/?page={{total}}">&gt&gt</i></a></li>
            {{/when}}
        </ul>
      </div> --}}
      <br/>
    </div>
  </div>
</div>

