<div class="container">
  <div class="row banner" style="background-color: #2f2e2e">
    <div class="col-sm-0 col-md-1"></div>
    <div class="col-sm-12 col-md-10 mtb_20">
      <div class="row mt_10">
        <div class="col-md-4">
          <div class="series-box-img">
            <img data-name="product_image" src={{{series.thumbnail}}} alt={{{series.name}}} class="series-img">
          </div>
        </div>
        <div class="col-md-8 prodetail caption product-thumb">
          <h2 data-name="product_name" class="product-name mb_20" style="color:white"><b>{{series.name}}</b></h2>
          <hr>
          <ul class="list-unstyled product_info mtb_20">
            <li>
              <label>Tác giả: </label>
              <span><a href="/author/{{series.author}}">{{series.author}}</a></span>
            </li>
            <li>
              <label>Thể loại: </label>
              {{#each series.genreList}}
              <span><a href="/genre/{{this.id}}">{{this.name}}</a></span>
              {{/each}}
            </li>
            <li>
              <label>Lượt xem: </label>
              <span>{{series.view}}</span>
            </li>
            <li>
              <label>Đánh giá: </label>
              <span>{{series.rate}}/10</span>
            </li>
            <li>
              <label>Lượt thích: </label>
              <span>{{series.like}}</span>
            </li>
          </ul>
          {{#if user}}
          <a href="/follow/{{series.id}}" onclick="alertFollowPopUp()"><button type="button" class="btn mb_30"><i
                class="fa fa-eye"></i> Theo
              dõi</button></a>
          <a href="/like/{{series.id}}"><button type="button" class="btn mb_30"><i class="fa fa-thumbs-up"></i>
              Thích</button></a>
          <a href="/report-series/{{series.id}}" onclick="alertPopUp()"><button type="button" class="btn mb_30"><i
                class="fa fa-exclamation-triangle"></i> Báo cáo</button></a>
          {{/if}}
          <hr>
          <label class="mt_20">Tóm tắt: </label>
          <p>{{series.summary}}</p>
        </div>
      </div>
      <div>
        <h3 class="mt_30">Danh sách chương</h3>
        <br />
        <hr />
        <div class="list-chapter">
          {{#each chapters}}
          <div class="row" style="max-width: 100%">
            {{!-- <a href="/chapters/{{this.id}}/detail"> --}}
              <a href="/view-series/{{series._id}}/{{this.id}}">
                <div class="col-xs-9">
                  <p>{{this.name}}</p>
                </div>
                <div class="pull-right">
                  <p>{{sliceString this.postedDate 4 15}}</p>
                </div>
              </a>
          </div>
          <hr />
          {{/each}}
        </div>
        <hr />
        <br />
      </div>

      <div id="exTab5" class="mtb_30">
        <ul class="nav nav-tabs">
          <!-- <li class="active"> <a href="#1c" data-toggle="tab">Overview</a> </li> -->
          <li class="active"><a href="#2c" data-toggle="tab">Nhận xét {{comment.length}}</a> </li>
          <!-- <li><a href="#3c" data-toggle="tab">Solution</a> </li> -->
        </ul>
        <div class="tab-content ">
          <div class="tab-pane active pt_20" id="2c">
            {{#if user}}
            <form class="form-horizontal" action="/comment/{{series._id}}" method="POST">
              <div class="required">
                <div class="row">
                  <div class="col-sm-10">
                    <input name="comment" id="input-review" placeholder="Nhập nhận xét" class="form-control input-lg"
                      required="" type="text">
                  </div>
                  <div class="col-sm-2">
                    <button type="submit" class="btn btn-default btn-lg" style="text-transform: none">Gửi</button>
                  </div>
                </div>
              </div>
            </form>
            {{/if}}
          </div>
        </div>
        <ul class="comment-list mt_30">
          {{#each comments}}
          <li class="comment">
            <hr>
            <article class="comment-body mtb_20">
              {{!-- <div class="comment-avatar"> <img alt="" src="/images/user2.jpg"> </div> --}}
              <div class="comment-main">
                <h5 class="author-name">{{this.member.fullName}} <small class="comment-date">1 ngày trước</small> </h5>

                <div class="comment-content mt_10">{{this.content}}</div>
              </div>
            </article>
            <hr>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>


<script>
  function alertPopUp() {
    alert("Báo cáo của bạn đã được ghi nhận");
  }
  function alertFollowPopUp() {
    alert("Theo dõi truyện thành công");
  }
</script>