<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {{> memberSidebar}}
        </div>
        <div class="col-sm-9 user-container">
            <h1 class="title">Truyện đã đăng</h1>
            <div class="row">
                <a href="/members/series-posting" class="btn btn-secondary"><i class="fa fa-plus"></i> Đăng truyện</a>
            </div>
            {{#each seriesPosted}}
            <div class="row">
                <div class="col-sm-2">
                    <a href="/series?id={{this._id}}"><img src="{{this.thumbnail}}" alt=""></a>
                </div>
                <div class="col-sm-6">
                    <a href="/series?id={{this._id}}"><h3>{{this.name}}</h3></a>
                    <p class="series-posted-status">
                        {{#when this.status 'eq' -1}}
                        Chưa duyệt
                        {{else when this.status 'eq' 0}}
                        Đã bị khóa
                        {{else}}
                        Bình thường
                        {{/when}}
                    </p>
                </div>
                <div class="col-sm-4 align-right">
                    <a href="/members/series-update/{{this._id}}" class="btn btn-secondary"><i class="fa fa-edit"></i> Chỉnh sửa</a>
                    <a href="#" class="btn btn-secondary"><i class="fa fa-times"></i> Xóa truyện</a>
                </div>
            </div>
            <hr>
            {{/each}}
        </div>
    </div>
</div>